{% extends "base.html" %} {% load static %} {% load bootstrap %} {% block content-header %}

    <i class="fa fa-user "> </i> Email
    <small>Email</small>


{% endblock content-header %} {% block content-main %}

    <section>
        <div class="col-lg-10 col-lg-offset-1">

            <div class="box table-responsive">

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">


                        <h3>Envie seu email</h3>
                        <form class="ng-pristine ng-valid" role="form" method="POST" enctype="multipart/form-data"
                              action="{% url 'aviso' %}">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="control-label  ">Membros</label>

                                <div class=" ">
                                    <select name="membros" class=" form-control" required=""
                                            style="width:840px; height:200px;"
                                            multiple="multiple">

                                        {% for u in usuario %}
                                            <option name="membros" id="membros" value="{{ u.id }}">{{ u.Funcao.upper }}
                                                -- {{ u.Nome.upper }} -- {{ u.Email }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-5">

                                    {{ form.assunto|bootstrap }}
                                </div>
                                <div class="col-sm-5">
                                    {{ form.Data|bootstrap }}
                                </div>

                            </div>

                            {{ form.descricao|bootstrap }}
                            {{ post.text|safe }}
                            {{ form.media }}
                            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i>Enviar
                            </button>
                        </form>

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>

    </section>





{% endblock content-main %} {% block extraJS %}


    <script>

        $(function () {
            $('.select2').select2();
            $('#tabela').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': true,
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
            })
        });


    </script>






{% endblock extraJS %}