{% extends "base.html" %} {% load static %} {% load bootstrap %} {% block content-header %}

    <i class="fa fa-user "> </i> Balanço
    <small>Gerenciar Balanço</small>


{% endblock content-header %} {% block content-main %}

    <div class="col-xs-12">

    <!-- /.box -->
    <div class="col-xs-12" class="box table-responsive">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Caixa</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>


                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="tabela5" class="table no-margin table-bordered" style="font-size: 13px">

                                <thead>
                                <tr>

                                    <th>Receitas (R$)</th>
                                    <th>Despesas (R$)</th>
                                    <th>Caixa (R$)</th>


                                </tr>
                                </thead>
                                <tbody>

                                {% for u in somatorioGeral %}
                                    <tr>


                                        <td><span class="badge bg-green">{{ u.rendimento }}</span></td>
                                        <td><span class="badge bg-red">{{ u.despesa }}</span></td>
                                        {% if u.total > 0 %}
                                            <td><span class="badge bg-green">{{ u.total }}</span></td>
                                        {% elif u.total == 0 %}
                                            <td><span class="badge bg-orange">{{ u.total }}</span></td>
                                        {% else %}
                                            <td><span class="badge bg-red">{{ u.total }}</span></td>
                                        {% endif %}

                                        </td>


                                    </tr>


                                    <div class="modal fade" id="myModal{{ u.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">

                                            </div>
                                        </div>
                                    </div>


                                {% endfor %}


                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-footer -->
    </div>


    <div class="col-xs-12" class="box table-responsive">

    <div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Balanço mensal das receitas e despesas</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabela" class="table no-margin table-bordered" style="font-size: 13px">

                        <thead>
                        <tr>
                            <th>Periodo</th>
                            <th>Receitas (R$)</th>
                            <th>Despesas (R$)</th>
                            <th>Balanco (R$)</th>


                        </tr>
                        </thead>
                        <tbody>

                        {% for u in balanco %}
                            <tr>


                                <td><span class="badge bg-grey">{{ u.mes|date:"M Y" }}</span></td>
                                <td><span class="badge bg-green">{{ u.receita }}</span></td>
                                <td><span class="badge bg-red">{{ u.despesa }}</span></td>
                                {% if u.total > 0 %}
                                    <td><span class="badge bg-green">{{ u.total }}</span></td>
                                {% elif u.total == 0 %}
                                    <td><span class="badge bg-orange">{{ u.total }}</span></td>
                                {% else %}
                                    <td><span class="badge bg-red">{{ u.total }}</span></td>
                                {% endif %}
                                </td>

                            </tr>


                            <div class="modal fade" id="myModal{{ u.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                    </div>
                                </div>
                            </div>


                        {% endfor %}


                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>





    <div class="col-xs-12" class="box table-responsive">

    <div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Resultado 1º Semestre</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>


            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabela2" class="table no-margin table-bordered" style="font-size: 13px">

                        <thead>
                        <tr>
                            <th>Ano</th>
                            <th>Receitas (R$)</th>
                            <th>Despesas (R$)</th>
                            <th>Balanco (R$)</th>


                        </tr>
                        </thead>
                        <tbody>


                        {% for u in balancoPrimeiroSemestre %}
                            <tr>


                                <td><span class="badge bg-grey">{{ u.ano }}</span></td>
                                <td><span class="badge bg-green">{{ u.rendimento }}</span></td>
                                <td><span class="badge bg-red">{{ u.despesa }}</span></td>
                                {% if u.total > 0 %}
                                    <td><span class="badge bg-green">{{ u.total }}</span></td>
                                {% elif u.total == 0 %}
                                    <td><span class="badge bg-orange">{{ u.rendimento }}</span></td>
                                {% else %}
                                    <td><span class="badge bg-red">{{ u.rendimento }}</span></td>
                                {% endif %}


                            </tr>



                            </tr>

                        {% endfor %}


                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>





    <div class="col-xs-12" class="box table-responsive">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Resultado 2º Semestre</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>


                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="tabela3" class="table no-margin table-bordered" style="font-size: 13px">

                                <thead>
                                <tr>
                                    <th>Ano</th>
                                    <th>Receitas (R$)</th>
                                    <th>Despesas (R$)</th>
                                    <th>Balanco (R$)</th>


                                </tr>
                                </thead>
                                <tbody>

                                {#    <span class="badge bg-red"></span>#}
                                {% for u in balancoSegundoSemestre %}
                                    <tr>


                                        <td><span class="badge bg-grey">{{ u.ano }}</span></td>
                                        <td><span class="badge bg-green">{{ u.rendimento }}</span></td>
                                        <td><span class="badge bg-red">{{ u.despesa }}</span></td>
                                        {% if u.total > 0 %}
                                            <td><span class="badge bg-green">{{ u.total }}</span></td>
                                        {% elif u.total == 0 %}
                                            <td><span class="badge bg-orange">{{ u.total }}</span></td>
                                        {% else %}
                                            <td><span class="badge bg-red">{{ u.total }}</span></td>
                                        {% endif %}

                                        </td>

                                    </tr>



                                    </tr>

                                {% endfor %}


                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>


            <div class="col-xs-12" class="box table-responsive">

                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Giro de Caixa</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>


                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="tabela4" class="table no-margin table-bordered" style="font-size: 13px">

                                        <thead>
                                        <tr>
                                            <th>Periodo</th>
                                            <th>Pagamento</th>
                                            <th>Receitas (R$)</th>
                                            <th>Despesas (R$)</th>


                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for u in balancoCompleto %}
                                            <tr>

                                                <td><span class="badge bg-grey">{{ u.datas }}</span></td>
                                                {% if u.Pagamento == 1 %}
                                                    <td><span class="badge bg-green">Efetuado</span></td>
                                                {% else %}
                                                    <td><span class="badge bg-grey">À Efetuar</span></td>
                                                {% endif %}

                                                <td><span class="badge bg-green">{{ u.receita }}</span></td>
                                                <td><span class="badge bg-red">{{ u.despesa }}</span></td>


                                                </td>


                                            </tr>


                                            <div class="modal fade" id="myModal{{ u.id }}" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">

                                                    </div>
                                                </div>
                                            </div>


                                        {% endfor %}


                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>


            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->


{% endblock content-main %} {% block extraJS %}




    <script>

        $(function () {
            $('#tabela').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': true,
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
            })
        });

        $(function () {
            $('#tabela2').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': true,
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
            })
        });

        $(function () {
            $('#tabela3').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': true,
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
            })
        });

        $(function () {
            $('#tabela4').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': true,
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
            })
        });

        $(function () {
            $('#tabela5').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': true,
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
            })
        });


    </script>




{% endblock extraJS %}