{% extends "base.html" %} {% load staticfiles %} {% load bootstrap %} {% block content-header %}

<i class="fa fa-user "> </i> Vendas
<small>Gerenciar Vendas</small>


{% endblock content-header %} {% block content-main %}

<div class="col-xs-12">

    <!-- /.box -->


   <div class="box table-responsive">
        <div class="box-header">

            <button type="button" class="ui-button" data-toggle="modal" data-target="#exampleModal51">Efetuar
                Venda
            </button>

        </div>


        <div class="box-header">
            <h3 class="box-title">Todoas as compras efetuadas no sistema</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table id="tabela" class="table no-margin table-bordered" style="font-size: 13px">

                    <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Desconto</th>
                        <th>Valor R$</th>
                        <th>Data</th>

                        <th>Ações</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for u in compra %}
                    <tr>
                        <td>{{ u.Cliente }}</td>
                        <td>{{ u.Produto }}</td>
                        <td>{{ u.quantCompra }}</td>
                        <td>{{ u.Desconto }}</td>
                        <td>{{ u.total }}</td>
                        <td>{{ u.Data }}</td>

                        </td>



                        <td>
                            <a href="{% url 'compra_edit' u.id %}" data-toggle="modal"
                               data-target="#myModal{{ u.id }}">
                                <button type="button" class="btn btn-xs btn-warning">Editar</button>
                            </a>
                            <a href="{% url 'compra_delete' u.id %}">
                                <button type="button" class="btn btn-xs btn-danger">Apagar</button>
                            </a>

                        </td>


                    </tr>


                    <div class="modal fade" id="myModal{{ u.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                            </div>
                        </div>
                    </div>


                    {% endfor %}


                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.col -->
</div>
<div class="modal fade" id="exampleModal51" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel"> Cadastrar Venda</h4>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %} {{ form|bootstrap }}
<!--                    <label>Valor do Produto</label>-->
<!--                <div class="form-control">-->
<!--             <p><span></span></p>-->
<!--                </div>-->
<!--                    <label>Valor Final</label>-->
<!--                <div class="form-control">-->
<!--             <p><span id="mySum"></span></p>-->
<!--                </div>-->
<!--                    <br>-->
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock content-main %} {% block extraJS %}

<script>


function myFunction() {

   // var quantCompra = document.getElementById("quantCompra").value;
    var ProdutoValor = document.getElementById("Produto").value;



//aqui ta certo
    document.getElementById("mySum").innerText = ProdutoValor;
}

</script>




<script>


    $(document).ready(function () {

        $('#tabela').DataTable({
            "language": {
                "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
            },
            stateSave: true,
        });

    });
</script>




{% endblock extraJS %}