{% extends "base.html" %}
{% load bootstrap %}

{% load staticfiles %}
{% load static %}

{% load l10n %}


{% block content-header %}

Gestão


{% endblock content-header %}

{% block content-main %}


<section class="content">
{#    <div class="row">#}
{#        <div class="col-lg-3 col-xs-6">#}
{#            <!-- small box -->#}
{#            <div class="small-box bg-green" >#}
{#                <div class="inner">#}
{#                    <h3>{{ nprodutos }}</h3>#}
{##}
{#                    <p>Produtos</p>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="fa fa-shopping-cart"></i>#}
{#                </div>#}
{#                <a href="{% url 'produto' %}" class="small-box-footer">Mais Informações <i#}
{#                        class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        <!-- ./col -->#}
{#        <div class="col-lg-3 col-xs-6">#}
{#            <!-- small box -->#}
{#            <div class="small-box bg-red">#}
{#                <div class="inner">#}
{#                    <h3>{{ navaliacoes }}<sup style="font-size: 20px"></sup></h3>#}
{##}
{#                    <p>Vendas</p>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="fa fa-money"></i>#}
{#                </div>#}
{#                <a href="{% url 'compra' %}" class="small-box-footer">Mais informações <i#}
{#                        class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        <!-- ./col -->#}
{#        <div class="col-lg-3 col-xs-6">#}
{#            <!-- small box -->#}
{#            <div class="small-box bg-yellow">#}
{#                <div class="inner">#}
{#                    <h3>{{ navaliacoesmes }}</h3>#}
{##}
{#                    <p>Lote</p>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="fa fa-truck"></i>#}
{#                </div>#}
{#                <a href="{% url 'lote' %}" class="small-box-footer">Mais Informações <i#}
{#                        class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        <!-- ./col -->#}
{#        <div class="col-lg-3 col-xs-6">#}
{#            <!-- small box -->#}
{#            <div class="small-box bg-aqua">#}
{#                <div class="inner">#}
{#                    <h3>#}
{#                        {{ clientes }}#}
{#                    </h3>#}
{##}
{#                    <p>Clientes</p>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="fa fa-users"></i>#}
{#                </div>#}
{#                <a href="{% url 'cliente' %}" class="small-box-footer">Mais Informações<i#}
{#                        class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{##}
{##}
{#        </div>#}
{##}
{##}
{#        <div class="col-xs-12" class="box table-responsive">#}
{##}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <div class="box">#}
{#                        <div class="box-header with-border">#}
{#                            <h3 class="box-title">Grafico de Estoque</h3>#}
{##}
{#                            <div class="box-tools pull-right">#}
{#                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
{#                                        class="fa fa-minus"></i>#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                        <!-- /.box-header -->#}
{#                        <div class="box-body">#}
{#                            <div class="table-responsive">#}
{#                                <table id="tabela2" class="table no-margin table-bordered" style="font-size: 13px">#}
{##}
{#                                    <thead>#}
{#                                    <tr>#}
{#                                        <canvas id="estoque" width="100" height="25"></canvas>#}
{##}
{##}
{#                                    </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{##}
{#                                    </tfoot>#}
{#                                </table>#}
{#                            </div>#}
{#                            <!-- /.box-body -->#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- /.col -->#}
{#                </div>#}
{##}
{##}
{##}
{#                  <div class="col-xs-12" class="box table-responsive">#}
{##}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <div class="box">#}
{#                        <div class="box-header with-border">#}
{#                            <h3 class="box-title">Grafico de Faturamento Mensal</h3>#}
{##}
{#                            <div class="box-tools pull-right">#}
{#                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
{#                                        class="fa fa-minus"></i>#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                        <!-- /.box-header -->#}
{#                        <div class="box-body">#}
{#                            <div class="table-responsive">#}
{#                                <table id="tabela2" class="table no-margin table-bordered" style="font-size: 13px">#}
{##}
{#                                    <thead>#}
{#                                    <tr>#}
{#                                <canvas id="balanco" width="100" height="25"></canvas>#}
{##}
{##}
{#                                    </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{##}
{#                                    </tfoot>#}
{#                                </table>#}
{#                            </div>#}
{#                            <!-- /.box-body -->#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- /.col -->#}
{#                </div>#}
{##}
{##}
{##}
{#                  <div class="col-xs-12" class="box table-responsive">#}
{##}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <div class="box">#}
{#                        <div class="box-header with-border">#}
{#                            <h3 class="box-title">Grafico de Vendas Mensal</h3>#}
{##}
{#                            <div class="box-tools pull-right">#}
{#                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
{#                                        class="fa fa-minus"></i>#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                        <!-- /.box-header -->#}
{#                        <div class="box-body">#}
{#                            <div class="table-responsive">#}
{#                                <table id="tabela2" class="table no-margin table-bordered" style="font-size: 13px">#}
{##}
{#                                    <thead>#}
{#                                    <tr>#}
{#                                <canvas id="vendas" width="100" height="25"></canvas>#}
{##}
{##}
{#                                    </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{##}
{#                                    </tfoot>#}
{#                                </table>#}
{#                            </div>#}
{#                            <!-- /.box-body -->#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- /.col -->#}
{#                </div>#}




</section>


{% endblock content-main %}


{% block extraJS %}


<script>
    var ctx = document.getElementById("estoque");
    var names = JSON.parse('{{ nomes|safe }}');
    var prices = JSON.parse('{{ total|safe }}');

    var productsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: names,
            datasets: [{
                label: 'Estoque de protudos',
                data: prices,
                backgroundColor: [
                    'rgba(255, 99, 132, 2)',
                    'rgba(54, 162, 235, 2)',
                    'rgba(255, 206, 86, 2)',
                    'rgba(75, 192, 192, 2)',
                    'rgba(153, 102, 255, 2)',
                    'rgba(255, 159, 64, 2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var ctx = document.getElementById("balanco");
    var names = JSON.parse('{{ datas|safe }}');
    var prices = JSON.parse('{{ balancos|safe }}');

    var productsChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: names,
            datasets: [{
                label: 'Faturamento Mensal',
                data: prices,
                backgroundColor: [
                    'rgba(255, 255, 60, 1)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                   'rgba(255, 255, 60, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });


    var ctx = document.getElementById("vendas");
    var names = JSON.parse('{{ datas|safe }}');
    var prices = JSON.parse('{{ rendimentos|safe }}');

    var productsChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: names,
            datasets: [{
                label: 'Vendas do mes',
                data: prices,
                backgroundColor: [
                    'rgba(7, 23, 180, 1)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
               'rgba(7, 23, 180, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });


</script>


{% endblock extraJS %}

