{% extends "base.html" %}
{% load bootstrap %}

{% load staticfiles %}
{% load static %}



{% block content-header %}

    Gestão


{% endblock content-header %}

{% block content-main %}




    <div class="modal fade" data-backdrop="static" id="exampleModal51" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Enviar Mensagem para NextStep</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        {{ post.text|safe }}
                        {{ form.media }}

                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>


{% endblock content-main %} {% block extraJS %}

    <script>

        $(document).ready(function () {

            $('#tabela').DataTable({
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
                stateSave: true,
            });

        });
    </script>



{% endblock extraJS %}
