{% extends "base.html" %} {% load static %} {% load bootstrap %} {% block content-header %}

    <i class="fa fa-user "> </i> Reclamações
    <small>Gerenciar Reclamações</small>


{% endblock content-header %} {% block content-main %}




    <div class="col-xs-12">

        <!-- /.box -->


        <div class="box table-responsive">
            <div class="box-header">


            </div>


            <div class="box-header">
                <h3 class="box-title">Reclamações</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabela" class="table no-margin table-bordered" style="font-size: 13px">

                        <thead>
                        <tr>
                            <th>Data</th>
                            <th>Mensagem</th>


                        </tr>
                        </thead>
                        <tbody>

                        {% for u in ouvidoria %}
                            <tr>

                                <td>{{ u.data  }} </td>
                                <td>{{ u.texto|safe  }} </td>


                            </tr>


                            <div class="modal fade" data-backdrop="static" id="myModal{{ u.id }}" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">

                                    </div>
                                </div>
                            </div>


                        {% endfor %}


                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="modal fade" data-backdrop="static" id="exampleModal51" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel"> Enviar Mensagem a NextStep</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        {{ post.text|safe }}
                        {{ form.media }}

                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock content-main %} {% block extraJS %}

    <script>
  $(function () {
    $('#tabela').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : true,
          "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
    })
  })
    </script>



{% endblock extraJS %}