{% extends 'base.html' %} {% load static %} {% block content-header %}{% load bootstrap %}
    <i class="fa fa-users "> </i> Usuário
    <small>Meus Dados</small>
{% endblock content-header %} {% block content-main %}
    <div class="">
        <!-- UI - X Starts -->
        <div class="ui-67">

            <!-- Head Starts -->
            <div class="ui-head">
                <!-- Details -->
                <div class="ui-details">
                    <!-- Name -->
                    <h3 id="name-header">{{ usuario.Nome }}</h3>
                    <!-- Designation -->
                </div>
                <!-- Image -->
                <div class="ui-image">
                    <!-- User Image -->
                    {% if usuario.Foto.url != none %}
                        <img src="{{ request.user.Foto.url }}" class="img-circle" alt="User Image"
                             style="width:150px; height:150px;">{% else %}
                        <img src="{% static 'img/nophoto.jpg' %}" alt="Profile Picture" class="img-responsive"
                             width="100"
                             height="100"> {% endif %}
                </div>
            </div>
            <!-- Head Ends -->

            <!-- Content Starts -->
            <div class="ui-content">

                <div class="row">

                    <div class="col-sm-8 col-md-8 col-lg-8 col-lg-offset-2 acc-col">
                        <section>
                            <h3>Meus Dados</h3>
                            <form class="ng-pristine ng-valid" role="form" method="POST" enctype="multipart/form-data"
                                  action="{% url 'meusdados' %}"
                                  onclick="validarSenha();">
                                {% csrf_token %}

                                {% if usuario.Foto.url != none %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="usuarioFoto" class="control-label">Foto:</label>
                                            Atualmente: <a href="{{ usuario.Foto.url }}" target="_blank">{{ usuario.Foto.url }}</a><br>
                                           {{ form.Foto }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="usuarioFoto" class="control-label">Foto</label>
                                         {{ form.Foto }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="nomeUsuario" class="control-label">Nome:</label>
                                 {{ form.Nome }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="emailUsuario" class="control-label">Email:</label>
                                     {{ form.Email }}
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="matriculaUsuario" class="control-label">Matricula:</label>
                                       {{ form.Matricula }}
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-sm-8">
                                        <label for="ruaUsuario" class="control-label">Rua:</label>
                                      {{ form.Rua }}
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="nUsuario" class="control-label">Número:</label>
                                   {{ form.N }}
                                    </div>


                                </div>

                            <div class="row">

                            <div class="col-sm-6">
                                        <label for="bairroUsuario" class="control-label">Bairro:</label>
                                 {{ form.Bairro }}
                                    </div>

                                <div class="col-sm-6">
                                        <label for="cidadeUsuario" class="control-label">Cidade:</label>
                                 {{ form.cidade }}
                                    </div>
                        </div>

                                <div class="row">

                                    <div class="col-sm-4">
                                        <label for="cpfUsuario" class="control-label">CPF:</label>
                                      {{ form.CPF }}
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="rgUsuario" class="control-label">RG:</label>
                                   {{ form.RG }}
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="celularUsuario" class="control-label">Celular:</label>
                                 {{ form.Celular }}
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="usuarioLogin" class="control-label">Login:</label>
                                        <div class="">
                                       {{ form.Login }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label for="usuarioSenha" class="control-label">Senha:</label>
                                        <div class="">
                                           {{ form.password }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label for="senhaConfirm" class="control-label">Confirmar Senha:</label>
                                        <div class="">
                                            <input type="password" class="form-control" id="senhaConfirm"
                                                   name="senhaConfirm" onkeyup="validarSenha();" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="btn-div">
                                            <button id="btn-update" class="btn btn-success pull-right">Atualizar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>


                    </div>
                    <!-- col-8 -->
                </div>

            </div>
            <!-- Content Ends -->
        </div>
        <!-- UI - X Ends -->
    </div>
{% endblock content-main %} {% block extraJS %}
    <script>

        function validarSenha() {
            var password = document.getElementById("Password").value;
            var confirm_password = document.getElementById("senhaConfirm").value;

            console.log("senha " + password);
            console.log("Confirmar senha " + confirm_password);

            if (password != confirm_password) {
                document.getElementById('Password').style.borderColor = "red";
                document.getElementById('senhaConfirm').style.borderColor = "red";
                $("#btn-update").attr('disabled', true);
            } else {
                document.getElementById('Password').style.borderColor = "green";
                document.getElementById('senhaConfirm').style.borderColor = "green";
                $("#btn-update").attr('disabled', false);

            }

        }
    </script> {% endblock extraJS %}