{% extends "base.html" %} {% load static %} {% load bootstrap %} {% block content-header %}

    <i class="fa fa-user "> </i> Ouvidoria Next Step
    <small>Deixe sua Mensagem em Anonimo</small>


{% endblock content-header %} {% block content-main %}




    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-1">

    <!-- /.box -->


    <div class="box table-responsive">
        <div class="box-header">
            <form method="POST">
                {% csrf_token %}
                    {{ post.text|safe }}
                         {{ form.media }}
                <div class="row">
                    <div class="col-sm-4">

                        {{ form.data|bootstrap }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">

                        {{ form.texto|bootstrap }}

                    </div>
                </div>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </form>
        </div>


        <!-- /.col -->
    </div>
    <div class="modal fade" data-backdrop="static" id="exampleModal51" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel"> Cadastrar Serviço</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        {{ post.text|safe }}
                        {{ form.media }}

                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock content-main %} {% block extraJS %}

    <script>

        $(document).ready(function () {

            $('#tabela').DataTable({
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
                stateSave: true,
            });

        });
    </script>



{% endblock extraJS %}