{% extends "base.html" %} {% load staticfiles %} {% load bootstrap %} {% block content-header %}

<i class="fa fa-user "> </i> Produto
<small>Gerenciar Produto</small>


{% endblock content-header %} {% block content-main %}

<div class="col-xs-12">

    <!-- /.box -->


   <div class="box table-responsive">
        <div class="box-header">

            <button type="button" class="ui-button" data-toggle="modal" data-target="#exampleModal51">Cadastrar
                Produto
            </button>

        </div>


        <div class="box-header">
            <h3 class="box-title">Todos os produtos cadastradas no sistema</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table id="tabela" class="table no-margin table-bordered" style="font-size: 13px">

                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Valor</th>

                        <th>Ações</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for u in produto %}
                    <tr>
                        <td>{{ u.nomeproduto }}</td>
                        <td>{{ u.descricao }}</td>
                        <td>{{ u.valor}}</td>


                        </td>



                        <td>
                            <a href="{% url 'produto_edit' u.id %}" data-toggle="modal"
                               data-target="#myModal{{ u.id }}">
                                <button type="button" class="btn btn-xs btn-warning">Editar</button>
                            </a>
                            <a href="{% url 'produto_delete' u.id %}">
                                <button type="button" class="btn btn-xs btn-danger">Apagar</button>
                            </a>

                        </td>


                    </tr>


                    <div class="modal fade" id="myModal{{ u.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                            </div>
                        </div>
                    </div>


                    {% endfor %}


                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.col -->
</div>
<div class="modal fade" id="exampleModal51" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel"> Cadastrar Produto</h4>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %} {{ form|bootstrap }}
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock content-main %} {% block extraJS %}


<script type="text/javascript">

    $(function(){
	 var campo = $("#id_nomeproduto");
	 campo.keyup(function(e){
		 e.preventDefault();
		 campo.val($(this).val().toUpperCase());
	 });
 });
</script>


<script>


    $(document).ready(function () {

        $('#tabela').DataTable({
            "language": {
                "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
            },
            stateSave: true,
        });

    });
</script>



<script type="text/javascript">
    $("#phone").mask("(00) 0000-0000");
    $("#cel1").mask("(00) 0 0000-0000");
    $("#cel2").mask("(00) 0 0000-0000");
    $("#cpf").mask("000.000.000-00");

</script>


{% endblock extraJS %}