{% extends "base.html" %} {% load static %} {% load bootstrap %} {% block content-header %}

    <i class="fa fa-user "> </i> Projeto
    <small>Gerenciar Projeto</small>


{% endblock content-header %} {% block content-main %}

<style>
.select2-container--default .select2-selection--single{
    padding:6px;
    height: 35px;
    width: 100%;
    position: relative;
}

</style>
    <style>
        .select2 {
            width: 100% !important;
        }
    </style>

    <div class="col-xs-12">

        <!-- /.box -->


        <div class="box table-responsive">
            <div class="box-header">

                <button type="button" class="ui-button" data-toggle="modal" data-target="#exampleModal51">Cadastrar
                    Projetos
                </button>

            </div>


            <div class="box-header">
                <h3 class="box-title">Todas os projetos cadastradas no sistema</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabela" class="table no-margin table-bordered" style="font-size: 13px">

                        <thead>
                        <tr>
                            <th>Serviço - Cliente</th>
                            <th>Data de Entrega</th>
                            <th>Status</th>
                            <th>Responsaveis</th>

                            <th>Ações</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for u in projeto %}
                            <tr>
                                <td>{{ u.servico }}</td>
                                <td>{{ u.dataEntrega }}</td>
                                {% if u.status  == 0 %}
                                    <td><span class="badge bg-blue">Iniciado</span></td>
                                {% elif u.status  == 1 %}
                                    <td><span class="badge bg-grey">Em andamento</span></td>
                                {% elif u.status  == 2 %}
                                    <td><span class="badge bg-red">Pendente</span></td>
                                {% elif u.status  == 3 %}
                                    <td><span class="badge bg-green">Finalizado</span></td>
                                {% endif %}

                                <td>
                                    {% for i in u.responsaveis.all %}
                                        {{ i.Nome }}<br>
                                    {% endfor %}
                                </td>

                                </td>


                                <td>
                                    <a href="{% url 'projeto_edit' u.id %}" data-toggle="modal"
                                       data-target="#myModal{{ u.id }}">
                                        <button type="button" class="btn btn-xs btn-warning">Editar</button>
                                    </a>
                                    <a href="{% url 'projeto_delete' u.id %}">
                                        <button type="button" class="btn btn-xs btn-danger">Apagar</button>
                                    </a>

                                </td>


                            </tr>


                            <div class="modal fade" id="myModal{{ u.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                    </div>
                                </div>
                            </div>


                        {% endfor %}


                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="modal fade" id="exampleModal51" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel"> Cadastrar Projeto</h4>
                </div>
                <div class="modal-body" id="myModal">
                    <form method="POST">
                        {% csrf_token %}

                            {{ form.servico|bootstrap }}

                        <div class="row" >
                            <div class="col-sm-6" style="width: 290px">
                                {{ form.dataEntrega|bootstrap }}
                            </div>
                            <div class="col-sm-6">
                                {{ form.status|bootstrap }}
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label  ">Responsaveis</label>

                            <div class=" ">
                                <select name="responsaveis" class="responsaveis"
                                        style="width: 580px" required=""
                                        name="states[]" multiple="multiple">

                                    {% for u in usuario %}
                                        <option name="responsaveis"
                                                value="{{ u.id }}">{{ u.Nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock content-main %} {% block extraJS %}

    <script>
        $(document).ready(function () {
            // $('.reuniao').select2();
            $('#id_servico').select2({
                dropdownParent: $('#myModal')
            });

        });

        $(document).ready(function () {
            // $('.reuniao').select2();
            $('#id_status').select2({
                dropdownParent: $('#myModal')
            });

        });

        $(document).ready(function () {
            $('.responsaveis').select2({
                placeholder: 'Selecione os membros',
            });

        });

        $(function () {
            $('#tabela').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': true,
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
            })
        });
    </script>




{% endblock extraJS %}