{% load bootstrap %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="exampleModalLabel">Editar Cadastro</h4>
</div>

<div class="modal-body" id="myModal">

    <form method="POST" action="{% url 'reuniao_edit' reuniao.id %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6">
                {{ form.dataReuniao|bootstrap }}
            </div>
            <div class="col-sm-6">
                {{ form.tipoReuniao|bootstrap }}
            </div>
        </div>

        {{ form.descricaoReuniao|bootstrap }}


        {{ form.presenca|bootstrap }}

        {% if request.user.Funcao == 'PROP' or request.user.Funcao == 'RH' or request.user.Funcao == 'PRE' %}
            {{ form.ausencia|bootstrap }}

        {% endif %}

<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
<button type="submit" class="btn btn-success">Alterar</button>
</form>


</div>

<script>
    $(document).ready(function () {
        // $('.reuniao').select2();
        $('#tipoReuniao').select2({
            dropdownParent: $('#myModal')
        });

    });
</script>