{% extends "base.html" %} {% load static %} {% load bootstrap %} {% block content-header %}

    <i class="fa fa-user "> </i> Reunião
    <small>Gerenciar Reunião</small>


{% endblock content-header %} {% block content-main %}
    {##}
    {#    <style>#}
    {#        .select2-container--default .select2-selection--single .select2-selection__rendered {#}
    {#            line-height: 100% !important;#}
    {#        }#}
    {##}
    {#        .select2-container .select2-selection--single {#}
    {#            height: 40px !important;#}
    {#        }#}
    {##}
    {#        .select2-container .select2-selection--multiple {#}
    {##}
    {#            min-height: 45px !important;#}
    {#        }#}
    {##}
    {#        .select2-container--default .select2-selection--multiple .select2-selection__rendered {#}
    {##}
    {#            height: 100% !important;#}
    {#        }#}
    {##}
    {#        .select2-container .select2-selection--multiple .select2-selection__rendered {#}
    {#            overflow: auto !important;#}
    {##}
    {#        }#}
    {##}
    {##}
    {#    </style>#}
    <div class="col-xs-12">

        <!-- /.box -->


        <div class="box table-responsive">
            <div class="box-header">

                <button type="button" class="ui-button" data-toggle="modal" data-target="#exampleModal51">Cadastrar
                    Reunião
                </button>

            </div>


            <div class="box-header">
                <h3 class="box-title">Todas as Reuniões cadastradas no sistema</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabela" class="table no-margin table-bordered" style="font-size: 13px">

                        <thead>
                        <tr>
                            <th>Data da Reunião</th>
                            <th>Reunião</th>
                            <th>Descrição</th>
                            <th>Convocados</th>
                            <th>Ausentes</th>
                            <th>Ações</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for u in reuniao %}
                            <tr>
                                <td>{{ u.dataReuniao }}</td>
                                <td>{{ u.tipoReuniao }}</td>

                                <td>{{ u.descricaoReuniao }}</td>
                                <td>
                                    {% for i in u.presenca.all %}
                                        {{ i.Nome }}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for i in u.ausencia.all %}
                                        {{ i.Nome }}<br>
                                    {% endfor %}
                                </td>
                                </td>


                                <td>
                                    <a href="{% url 'reuniao_edit' u.id %}" data-toggle="modal"
                                       data-target="#myModal{{ u.id }}">
                                        <button type="button" class="btn btn-xs btn-warning">Editar</button>
                                    </a>
                                    <a href="{% url 'reuniao_delete' u.id %}">
                                        <button type="button" class="btn btn-xs btn-danger">Apagar</button>
                                    </a>

                                </td>


                            </tr>


                            <div class="modal fade" id="myModal{{ u.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                    </div>
                                </div>
                            </div>


                        {% endfor %}


                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="modal fade" id="exampleModal51" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel"> Cadastrar Reunião</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        {#                        {{ form.media.js }}#}


                    <div class="row">
                                    <div class="col-sm-6">
                                   {{ form.dataReuniao|bootstrap }}
                                    </div>
                                    <div class="col-sm-6" >
                                    {{ form.tipoReuniao|bootstrap }}
                                    </div>
                                </div>

                        {{ form.descricaoReuniao|bootstrap }}
{#                                                {{ form.presenca|bootstrap }}#}


                        <div class="form-group">
                            <label class="control-label  ">Convocados</label>

                            <div class="">
                                <select name="presenca" id="presenca" class="form-control presenca"
                                        style="width:580px; height:200px;" required=""
                                        multiple="multiple">

                                    {% for u in usuario %}
                                        <option name="presenca" id="presenca"
                                                value="{{ u.id }}">{{ u.Nome.upper }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="control-label  ">Ausência</label>

                            <div class=" ">
                                <select name="ausencia" class=" form-control"
                                        multiple="multiple" style="width:580px; height:200px;">

                                    {% for u in usuario %}
                                        <option name="ausencia" id="ausencia"
                                                value="{{ u.id }}">{{ u.Nome.upper }}</option>
                                    {% endfor %}
                                </select>


                            </div>

                        </div>


                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}
    {{ form.media.css }}
{% endblock content-main %} {% block extraJS %}


    <script>

        {#$(document).ready(function () {#}
        {#    $('.presenca').select2();#}
        {#});#}


        $(function () {

            $('#tabela').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': true,
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
            })
        });
    </script>






{% endblock extraJS %}