{% extends "base.html" %} {% load static %} {% load bootstrap %} {% block content-header %}

    <i class="fa fa-user "> </i> Serviço
    <small>Gerenciar Serviço</small>


{% endblock content-header %} {% block content-main %}
    <style>
        .select2-container--default .select2-selection--single {
            padding: 6px;
            height: 35px;
            width: 100%;
            position: relative;
        }

    </style>
    <style>
        .select2 {
            width: 100% !important;
        }
    </style>
    <div class="col-xs-12">

        <!-- /.box -->


        <div class="box table-responsive">
            <div class="box-header">

                <button type="button" class="ui-button" data-toggle="modal" data-target="#exampleModal51">Cadastrar
                    Serviço
                </button>

            </div>


            <div class="box-header">
                <h3 class="box-title">Todos os Serviço cadastradas no sistema</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabela" class="table no-margin table-bordered" style="font-size: 13px">

                        <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Serviço</th>
                            <th>Descrição</th>
                            <th>Parcelamento</th>
                            <th>Valor</th>
                            <th>Desconto</th>
                            <th>Valor Final</th>

                            <th>Ações</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for u in servico %}
                            <tr>
                                <td>{{ u.cliente }}</td>
                                <td>{{ u.nomeServico }}</td>
                                <td>{{ u.descricao }}</td>
                                <td>{{ u.parcelamento }}</td>
                                <td>{{ u.valor }}</td>
                                <td>{{ u.Desconto }}</td>
                                <td>{{ u.valorFinal }}</td>


                                </td>


                                <td>
                                    <a href="{% url 'servico_edit' u.id %}" data-toggle="modal"
                                       data-target="#myModal{{ u.id }}">
                                        <button type="button" class="btn btn-xs btn-warning">Editar</button>
                                    </a>
                                    <a href="{% url 'servico_delete' u.id %}">
                                        <button type="button" class="btn btn-xs btn-danger">Apagar</button>
                                    </a>

                                </td>


                            </tr>


                            <div class="modal fade" id="myModal{{ u.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                    </div>
                                </div>
                            </div>


                        {% endfor %}


                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="modal fade" id="exampleModal51" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel"> Cadastrar Serviço</h4>
                </div>
                <div class="modal-body" id="myModal">
                    <form method="POST">
                        {% csrf_token %}


                        <div class="row">
                            <div class="col-sm-6">
                                {{ form.cliente|bootstrap }}
                            </div>
                            <div class="col-sm-6">
                                {{ form.nomeServico|bootstrap }}
                            </div>
                        </div>

                        {{ form.descricao|bootstrap }}

                        <div class="row">
                            <div class="col-sm-6">
                                {{ form.valor|bootstrap }}
                            </div>
                            <div class="col-sm-6">
                                {{ form.Desconto|bootstrap }}
                            </div>
                        </div>

                        {{ form.parcelamento|bootstrap }}
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock content-main %} {% block extraJS %}

    <script>

        $(document).ready(function () {
            // $('.reuniao').select2();
            $('#id_cliente').select2({
                dropdownParent: $('#myModal')
            });
        });

        $(document).ready(function () {
            // $('.reuniao').select2();
            $('#id_nomeServico').select2({
                dropdownParent: $('#myModal')
            });
        });

        $(document).ready(function () {

            $('#tabela').DataTable({
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
                stateSave: true,
            });

        });
    </script>




{% endblock extraJS %}