{% extends "base.html" %} {% load static %} {% load bootstrap %} {% block content-header %}

    <i class="fa fa-users "> </i> Usuários
    <small>Gerenciar Usuários</small>


{% endblock content-header %} {% block content-main %}

    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">

                <button type="button" class="ui-button" data-toggle="modal" data-target="#exampleModal51">Cadastrar
                    Usuário
                </button>

            </div>


            <div class="box-header">
                <h3 class="box-title">Usuários cadastrados no sistema</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="tabela" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Função</th>
                        <th>Contato</th>
                        <th>Matricula</th>
                        <th>Email</th>
                        <th>LinkedIn</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for u in usuario %}
                        {% if u.Situacao == 1 %}
                            <tr>
                                <td>{{ u.Nome }}</td>
                                <td>{{ u.Login }}</td>

                                <td>
                                    {% if u.Funcao == 'PROP' %}
                                        PROPRIETÁRIO
                                    {% elif u.Funcao == 'SUPV' or u.Funcao == 'SUPM' %}
                                        GERENTE
                                    {% elif u.Funcao == 'VEND' %}
                                        CONSULTOR
                                    {% endif %}
                                </td>
                                <td>{{ u.Contato }}</td>
                                <td>{{ u.Matricula }}</td>
                                <td>{{ u.Email }}</td>
                                <td>{{ u.LinkedIn }}</td>

                                {% if u.Situacao == 1 %}
                                    <td>Ativo</td>
                                {% else %}
                                    <td>Inativo</td>
                                {% endif %}

                                <td>
                                    <a href="{% url 'usuario_edit' u.id %}" data-toggle="modal"
                                       data-target="#myModal{{ u.id }}">
                                        <button type="button" class="btn btn-xs btn-warning">Editar</button>
                                    </a>
                                    <a href="{% url 'usuarios_delete' u.id %}">
                                        <button type="button" class="btn btn-xs btn-danger">Apagar</button>
                                    </a>

                                </td>


                            </tr>


                            <div class="modal fade" id="myModal{{ u.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                    </div>
                                </div>
                            </div>

                        {% endif %}

                    {% endfor %}


                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>


        <div class="box">


            <div class="box-header">
                <h3 class="box-title">Usuários inativos no sistema</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="tabela1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Função</th>
                        <th>Contato</th>
                        <th>Matricula</th>
                        <th>Email</th>
                        <th>LinkedIn</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for u in usuario %}
                        {% if u.Situacao == 0 %}
                            <tr>
                                <td>{{ u.Nome }}</td>
                                <td>{{ u.Login }}</td>

                                <td>
                                    {% if u.Funcao == 'PROP' %}
                                        PROPRIETÁRIO
                                    {% elif u.Funcao == 'SUPV' or u.Funcao == 'SUPM' %}
                                        GERENTE
                                    {% elif u.Funcao == 'VEND' %}
                                        CONSULTOR
                                    {% endif %}
                                </td>
                                <td>{{ u.Contato }}</td>
                                <td>{{ u.Matricula }}</td>
                                <td>{{ u.Email }}</td>
                                <td>{{ u.LinkedIn }}</td>

                                {% if u.Situacao == 1 %}
                                    <td>Ativo</td>
                                {% else %}
                                    <td>Inativo</td>
                                {% endif %}

                                <td>
                                    <a href="{% url 'usuario_edit' u.id %}" data-toggle="modal"
                                       data-target="#myModal{{ u.id }}">
                                        <button type="button" class="btn btn-xs btn-warning">Editar</button>
                                    </a>
                                    <a href="{% url 'usuarios_delete' u.id %}">
                                        <button type="button" class="btn btn-xs btn-danger">Apagar</button>
                                    </a>

                                </td>


                            </tr>


                            <div class="modal fade" id="myModal{{ u.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                    </div>
                                </div>
                            </div>


                        {% endif %}
                    {% endfor %}


                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>


    </div>
    <!-- /.col -->
    </div>
    <div class="modal fade" id="exampleModal51" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel"> Editar Usuário</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %} {{ form|bootstrap }}
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>



{% endblock content-main %} {% block extraJS %}

    <script type="text/javascript">

        function myFunction() {
            // Get the checkbox
            if (document.getElementsByClassName('modal fade')[0].checked == true) {
                console.log('true');

            } else {
                console.log('false');
                var password = '12345678'
                document.getElementById('password1').value = password
                document.getElementById('password2').value = password
                console.log(document.getElementById('password1').value = password)
                console.log(document.getElementById('password2').value = password)
            }


        }

        myFunction();
    </script>


    <script>

        $(document).ready(function () {

            $('#tabela').DataTable({
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
                stateSave: true,
            });

        });

        $(document).ready(function () {

            $('#tabela1').DataTable({
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
                stateSave: true,
            });

        });
    </script> {% endblock extraJS %}